/********************
    NAVIGATION BAR
********************/
nav {
    border-style: none;
    margin-top: 10px;
    height: 70px;
    background-color: rosybrown;
}

ul {
    height: 100%;
    margin: auto;
    margin-left: 400px;
    
    
}

li {
    display: inline;
       
    text-align: center;
    margin-left: 100px;
    

    line-height: 50px;
    
}

a {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: black;
}


/********************
        HEADER
********************/

h1 {
    font-family: Arial;
    font-size: 40px;    
}


/********************
   TITLE OF THE PAGE
********************/
h2 {
    font-family: Arial;
    font-size: 30px;
}


/********************
         BODY
********************/

div {
    width: 400px;
    height: 300px;
}

img {
    width: 100%;    
}
